{% extends "blog/base.html" %}
{% block content %}
{% if form.errors %}
  <p>Uusuário ou senha incorretos</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

<div class="container">
    <div class="row">
        <div class="col">
            <fieldset>
                <legend>Faça o seu login aqui:</legend>
                    <div class="form-group">
                        <label>Nome: </label>
                        <input type="name" class="form-control" id="nome" name="username" placeholder="Rogers de Pelle" required>
                    </div>
                    <div class="form-group">
                        <label>Senha: </label>
                        <input type="password" class="form-control" id="senha" name="password" placeholder="000ABC##" required>
                    </div>
                    <center><input type="submit" value= "Login" class="btn btn-outline-danger">
                            <a href="{% url 'password_reset' %}" class="btn btn-outline-danger">Perdeu a senha?</a>
                    </center>
                    <input type="hidden" name="next" value="{{ next }}" />
            </fieldset>
      </div>
  </div>
</div>
</form>
{% endblock %}


