{% load static %}
<html>
<head>
    <title>Books I read</title>
    <meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel='stylesheet' href='css/bootstrap.css'>
</head>
		 <style>
		    .footer {
		       position: fixed;
		       left: 0;
		       bottom: 0;
		       width: 100%;
		       height: 10%;
		       background-color: #FFB6C1;
		       color: white;
		       text-align: center;
		    }
            body {
                background-image: url("{% static 'fundo.jpg' %}");
            }
		</style>
<body>
	<div class="container" style="background-color: #FFE4E1">
        <div class="row">
            <div class="col-md-12">
                <center><img class="py-5" src="{% static 'logo.png' %}"></center>
            </div>
            <div class="col mt-2">
                <center><p><h3>Bem vindo a <b><i>Books I Read!</i></b></h3></p></center>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFB6C1;">
                            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                                <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/../">Books I Read <span class="sr-only">(página atual)</span></a>
                                </li>
                                <li class="nav-item">
                                    {% if request.user.is_authenticated %}  
                                        Bem vindo {{ user.get_username }}!<br>
                                        Se já está satisfeito faça o seu <a href="{% url 'logout'%}">Logout</a>.                      
                                    {% else %}
                                        Seja bem vindo, novo usuário.<br> 
                                        Faça o seu <a href="{% url 'login'%}">Login</a> por favor!
                                    {% endif %}
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Categorias
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{% url 'category-detail' 1 %}">Biografia</a>
                                      <a class="dropdown-item" href="{% url 'category-detail' 2 %}">Ficção Científica</a>
                                      <a class="dropdown-item" href="{% url 'category-detail' 3 %}">Romance</a>
                                    </div>
                                  </li>
                                </ul>
                                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                                <input name="q" class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
                                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Pesquisar</button>
                                </form>
                            </div>  
                    </nav>
                </div>
            </div>
        <br>
        <br>
        {% for category in categories %}
            <a href="{% url 'category-detail' category.pk %}"></a>
        {% endfor %}

        {% block content %}
        {% endblock %}
        <br>
        <br>
        <br>
        <center><a href="#"><img src="{% static 'subir.png' %}" ></a></center>
        
        <div class="footer">
            <center><p>E aí? Gostou das histórias? Me conta tudo depois entrando em contato comigo!</p></center>
            <a href="https://pt-br.facebook.com/" class="btn btn-outline-danger">Facebook</a>
            <a href="https://www.instagram.com/accounts/login/" class="btn btn-outline-danger">Instagram</a>
            <a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="btn btn-outline-danger">Gmail</a>
        </div>
            <br>
            <br>
            <br>
            <br>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>

