{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
            <fieldset>
                <legend>Faça o seu cadastro aqui:</legend>

                <div	class="form-group">
                    <label	for="nome">Nome	completo:</label>
                    <input	type="text" class="form-control" id="nome" name="nome" placeholder="Rogers Prates de Pelle" required>
                </div>

                <div	class="form-group">
                    <label	for="email">Email:</label>
                    <input	type="email" class="form-control" id="email" name="email" placeholder="email@exemplo.com" required>
                </div>
                <div	class="form-group">
                    <label	for="senha">Senha:</label>
                    <input	type="password" class="form-control" id="senha" name="senha" placeholder="000ABC##" maxlength="8"required>
                </div>
                <center><input type="submit" value="Fazer Cadastro" class="btn border-info btn-sm"></center>
            </fieldset>
      </div>
  </div>
</div>

{% endblock %}