{% extends "blog/base.html" %}

{% block content %}

        <h5 class="card-title">{{ object.name }}</h5>
    <div class="row">
        {% for post in object.posts.all %}
            {% include "blog/post_card.html" %}       
        {% endfor %}
    </div>

{% endblock %} 
