{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="col-12">
        <div class="card border-danger">
            <div class="card-body text-center">
                <h5 class="card-title">{{ object.title }}</h5>
                <h6 class="card-subtitle mb-2 text-danger">
                    Postado por {{ object.author }} às {{ object.created_at }}
                </h6>
                <br>
            <div class="row">
                <div class= "col-9">
                    <p>{{ object.text|safe }}</p>
                </div>
                <div class= "col">
                    <p>{{ object.description|safe }}</p>
                    <img src="{{ object.banner.url }}" class="img-fluid">
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-11">
        <center><h4 class="text-danger">Deixe seu comentário:</h4></center>
        <br>
        {% for comment in object.comments.all %}
            <div class="alert alert-danger" role="alert">
                <img src="{% static 'usuario.png' %}" style="max-height: 30px; max-width: 30px;">
                Postado por {{ comment.author }} às {{ comment.created_at }}
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %} 
        <form method="POST" action="{% url 'comment' object.id %}">
            {% csrf_token %}
            <textarea name="text"></textarea>
            <input type="submit" value="Comentar">
	    </form>
    </div>
{% endblock %} 


    