{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <center><p>Neste blog você terá um spoiler sobre todos os livros que já foram lidos por mim,<br> uma garota apaixonada e aventureira de 16 anos do Rio Grande do Sul.</p></center>
            <center>
                Meu nome é Luciana Braatz e resido na cidade de Ibirubá. <br> 
                Sou escorpiana e adoro um bom romance.<br>
                Também conhecida como Lulu, preciso de chocolates para viver tanto quanto dos meus livros.<br>
                Aqui você consegue ler um pouco sobre os livros que acho interessante<br>
                e depois de logado e cadastrado, pode também comentar sobre os livros que você leu<br>
                criando os seus próprios posts!!!
            </center>
            <br>
            <br>
            <center><p>Quer ajudar a aumentar a visibiladade deste blog adicionando mais posts ao mesmo? <br> Então faça o seu cadastro!</p></center>
            <center><p>Já está cadastrado? Então divirta-se, após fazer o login, é claro!</p></center>
        </div>
        <div class="col-3">
            <img class="py-2 img-fluid" src="{% static 'ftminha.jpg' %}">
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        {% for post in object_list %}
            {% include "blog/post_card.html" %}
        {% endfor %}
    </div>
{% endblock %}