<div class="col-4">
    <div class="card border-danger"  style="width: 20rem;">
        <div class="card-body text-center">
            <h5 class="card-title">{{ post }}</h5>
            <h6 class="card-subtitle mb-2 text-danger">
                Postado por {{ post.author }} às {{ post.created_at }}
            </h6>
                <p>{{ post.description|safe }}</p>

            <a href="{% url 'post-detail' post.pk %}" class="btn btn-outline-danger">Leia Mais</a>
        </div>
    </div>
</div>     

