{% extends "blog/base.html" %}

{% block content %}

    <p>Estes são os resultados da sua pesquisa:</p>
    <br>

    <div class="row">
        {% for post in object_list %}
            {% include "blog/post_card.html" %}
        {% endfor %}
    </div>

{% endblock %}
